﻿@using Blog.Helpers
@model IEnumerable<Blog.Models.Post>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="bg-primary">
        <h2>MVC Blog</h2>
    </div>
    @foreach (var item in Model)
    {
        <div class="col-md-8" style="padding: 0;">
            <a href="~/Posts/Full/@item.Id">
                <h2>@item.Title</h2>
                <h4>@Html.StripHtml(@item.Content, 250)</h4>
            </a>
            <p>
                Posted by
                <a href="#">@item.UserFullName</a>
                on @item.PostedOn.Value.ToString("dddd, dd MMMM yyyy")
            </p>
        </div>

    }
</div>