﻿@using Blog.Helpers
@model IEnumerable<Blog.Models.Post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserFullName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="col-md-1">
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td class="col-md-5">
            @Html.StripHtml(item.Content,250)
        </td>
        <td class="col-md-1">
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td class="col-md-1">
            @Html.DisplayFor(modelItem => item.UpdatedOn)
        </td>
        <td class="col-md-1">
            @Html.DisplayFor(modelItem => item.PostedOn)
        </td>
        <td class="col-md-1">
            @Html.DisplayFor(modelItem => item.UserFullName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
