﻿
@model IEnumerable<Blog.Models.Post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>MVC Blog</h2>

@foreach (var item in Model)
{
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <a href="/Views/Posts/FullPost.cshtml">@item.Title<br>
                @item.Content</a>
        </div>
    </div>
    <p class="post-meta">
        Posted by
        <a href="#">@item.UserFullName</a>
        on @item.PostedOn.Value.ToString("dddd, dd MMMM yyyy")
    </p>
</div>
}