﻿
@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Comment Confirmation</title>
</head>
<body>
<div>
    <h2>Comment Confirmation</h2><br/>
    The Comments will be published after admin Confirmation
</div>
</body>
</html>
